<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/headerlinks.ejs') %>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

        <!-- main header -->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="main_content">
                        <form class="temp_form" action="/weather" method="post">
                            <input name="city" type="text" id="cityName" autocomplete="off" placeholder="Enter your city name">
                            <input type="submit" value="search" id="submitBtn">
                        </form>
                    </div>
                    <div class="tempInformation detail_box">
                        <div class="top_layer">
                            <% if(search  === true && hideData  ===false) { %>
                                <p id="day" style="color: #fff;"><%=curDay %></p>
                                <p id="today_date" style="color: #fff;"><%=curDate %></p>
                            <% } else { %>
                                <p id="day">Day</p>
                                <p id="today_date">Date</p>
                            <% } %>
                        </div>
                        <div class="main_layer">
                            <% if( search  === true) { %>
                                <p id="city_name" style="color: #fff;"><%=cityName%></p>
                                <% if(hideData === true) { %> 
                                    <div class="middle_layer data_hide" id="data_hide">
                                        <p><span id="temp">0</span> <sup>&deg;</sup>C</p>
                                        <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                                    </div>
                                <% } else {%>
                                        <div class="middle_layer" id="data_hide">
                                            <p><span id="temp"><%=tempVal%></span> <sup>&deg;</sup>C</p>
                                            <p id="temp_status"><img src=<%=tempStatus %> alt="3D HTML" width="100%" height="52px"></img></p>
                                        </div>
                                <% } %>
                            <% } else {%>    
                                <p id="city_name">Get Output Here</p>
                                <div class="middle_layer data_hide" id="data_hide">
                                    <p><span id="temp">0</span> <sup>&deg;</sup>C</p>
                                    <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- footer code  -->
        <%- include('./partials/footer.ejs') %>
</body>

</html>